h1{font-size: larger;color:white;}
html{background-color:black;text-align: center;}
p{font-size: small;color: white;}
#motivation{border: 5px solid  white;}
#motivation{margin-top: 100px}
#motivation{text-align: center}


